flask==3.0.3
openai==1.33.0

# Text & file processing
python-docx==1.2.0
pandas==2.2.2
openpyxl==3.1.2
xlrd==1.2.0
PyPDF2==3.0.1
PyMuPDF==1.23.22
pdfminer.six==20201018

# Embedding + search
numpy==1.26.4
sqlalchemy==2.0.30
tiktoken==0.6.0
